{% extends 'base.html.twig' %}

{% block title %}
    Edit best bet
{% endblock %}

{% block icon %}
    <i class="fas fa-search-dollar"></i>
{% endblock %}

{% block body %}
    {{ include('best_bet/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('best_bet_list') }}" class="back-to-list">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}