{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row">
    <div class="notices-form-entry">
        {{ form_start(form) }}
        {{ form_widget(form, { 'attr': {'class': 'notices-edit-form'} }) }}
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="notices-form-instruction">
        <div class="instructions">
            <p>A <strong>template</strong> is a pre-made pattern for creating notifications.
            <p>The <em>text</em>, <em>priority</em>, and <em>type</em> will be assigned to the corresponding
                fields in notifications created from the template.</p>
        </div>
    </div>
</div>