{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row">
    <div class="notices-form-entry">
        {{ form_start(form) }}
        {{ form_widget(form, { 'attr': {'class': 'notices-edit-form'} }) }}
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="notices-form-instruction">
        <div class="instructions">
            <p>A <strong>template</strong> is a pre-made pattern for creating notifications.
            <p>Give your template a short, easily-recognizable <em>name</em>.</p>
            <p>The <em>text</em>, <em>priority</em>, and <em>type</em> will be assigned to the corresponding
                fields in notifications created from the template.</p>
            <p>The <em>text</em> is the notice content. Try to keep the text under 120 characters</p>
            <p>You can use <a href="https://help.github.com/en/articles/basic-writing-and-formatting-syntax">Markdown</a> to style your text, for example:
            <ul>
                <li><span class="markdown"><a href="https://www.bc.edu">[links](https://www.bc.edu)</a></span></li>
                <li><span class="markdown"><strong>**bold text**</strong></span></li>
                <li><span class="markdown"><em>italics</em></span></li>
            </ul>
            </p>
        </div>
    </div>
</div>