{% extends 'base.html.twig' %}

{% block title %}Edit template{% endblock %}

{% block icon %}
    <i class="far fa-file-code"></i>
{% endblock %}

{% block body %}
    {{ include('template/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('template_index') }}" class="back-to-list">back to list</a>

    {{ include('template/_delete_form.html.twig') }}
{% endblock %}
