{% extends 'base.html.twig' %}

{% block title %}New template{% endblock %}

{% block icon %}
    <i class="far fa-file-code"></i>
{% endblock %}

{% block body %}
    {{ include('template/_form.html.twig') }}

    <a href="{{ path('template_index') }}" class="back-to-list">back to list</a>
{% endblock %}
