{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block dashboard %}

    <div class="row top-row">
        {# List of active notifications #}
        <div class="pane-holder col-md-12">
            <div class="pane active-list-pane">
                {{ include('home/active-list.html.twig', {'notes': notes}) }}
            </div>
        </div>
    </div>


    <div class="row row-bottom">
        <div class="pane-holder col-md-6">

            {# Calendar view pane #}
            <div class="pane calendar-pane">
                {{ include('home/calendar.html.twig') }}
            </div>
        </div>
        <div class="pane-holder col-md-6">

            {# System status pane #}
            <div class="pane status-pane">
                <h2>System status</h2>
                {{ include('home/system-status.html.twig', {'apps':apps, 'error_message':error_message }) }}
            </div>
        </div>
    </div>

{% endblock %}
