{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row">
    <div class="notices-form-entry">
        {{ form_start(form, { 'attr': {'class': 'notices-edit-form'} }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="notices-form-instruction">
        <div class="instructions">
            <p>A <strong>notification</strong> is a notice to be added to the Libraries Web pages.
            <p>The <em>text</em> is the notice content. Try to keep the text under 120 characters</p>
            <p>You can use <a href="https://help.github.com/en/articles/basic-writing-and-formatting-syntax">Markdown</a> to style your text, for example:
            <ul>
                <li><span class="markdown"><a href="https://www.bc.edu">[links](https://www.bc.edu)</a></span></li>
                <li><span class="markdown"><strong>**bold text**</strong></span></li>
                <li><span class="markdown"><em>italics</em></span></li>
            </ul>
            </p>
            <p>A notice's <em>type</em> and optional <em>application</em> parameters are used in reporting.</p>
            <p>Notices with a high <em>priority</em> will display before or instead of notices with a lower priority. </p>
            <p>The notice will go out for display at the <em>start</em> time and stop displaying at the <end>time</end>. If you don't know when the notice will need to come down, don't enter an end date or time. </p>
        </div>
    </div>
</div>