{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block icon %}
    <i class="fas fa-exclamation-triangle"></i>
{% endblock %}

{% block newbutton %}
    <a href="{{ path('notification_create') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">New
        notification</a>
{% endblock %}

{% block body %}
    {% set active_params = {'name': 'active', 'notelist': active, 'paginate': false} %}
    {% include 'notification/_note_list.html.twig' with active_params  %}

    {% set pending_params = {'name': 'pending', 'notelist': pending, 'paginate': false} %}
    {% include 'notification/_note_list.html.twig' with pending_params %}

    {% set pending_params = {'name': 'closed', 'notelist': closed, 'paginate': true} %}
    {% include 'notification/_note_list.html.twig' with pending_params %}
{% endblock %}
