{% extends 'base.html.twig' %}

{% block title %}Edit application{% endblock %}

{% block icon %}
    <i class="fas fa-server"></i>
{% endblock %}

{% block body %}
    {{ include('application/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('application_index') }}">back to list</a>

    {{ include('application/_delete_form.html.twig') }}
{% endblock %}
