{% extends 'base.html.twig' %}

{% block title %}New application{% endblock %}

{% block body %}

    {{ include('application/_form.html.twig') }}

    <a href="{{ path('application_index') }}">back to list</a>
{% endblock %}
