.notices-form-entry {
  @extend .col-md-8;
  padding-right: 2rem;

  button[type=submit] {
    margin-top: 1em;
  }
}

.notices-form-instruction {
  @extend .col-md-4;

  .instructions {
    color: darken($color-gray, 50%);
    background-color: lighten($color-yellow, 40%);
    padding: 1rem;
    font-size: 16px;
  }

  .markdown {
    font-family: monospace;
    font-size: 14px;
  }
}

label, .form-group legend {
  font-family: $font-header;
  font-weight: 400;

  &.form-check-label {
    font-weight: 300;
  }
}

.form-control {
  font-weight: 300;
}

a.back-to-list {
  display: block;
  margin-top: 2em;
  font-size: 14px;
}