
.homepage h1 {
  display: none;
}

.homepage {

  height: 100;

  main {
    .top-row {
      .pane {
        min-height: 300px;
      }

      .from-templates-pane {
        max-height: 300px;

        ul {
          max-height: 200px;
          overflow-y: scroll;

          list-style:none;
          padding: 0;

          font-size: 1rem;

        }
      }
    }

    #calendar {
      font-size: 14px;

      h2 {
        font-size: $font-size-base;
        font-weight: 600;
      }

      .fullcalendar-active-note {
        background: $color-warning-note;
      }

      .fc-list-item-title a a {
        color: blue;
      }
    }

    .status-pane {
      tr.down {
        @extend .table-warning;
      }

      tr.seems-down {
        @extend  .table-warning;
      }

      tr.paused {
        @extend .table-secondary;
      }

      tr.up {
        .fa-chevron-circle-up {
          color: $success;
        }
      }
    }
  }


  .home-note-list {

    .new-note-btn-holder {
      text-align: right;
      @extend .col-md-6;
      margin-bottom: 1em;
    }

    .alert-warning {
      background-color: $color-warning-note;
    }

    .note-example {
      @extend .col-md-10;

      margin-bottom: 1em;

      .alert-warning {
        margin-bottom: 0;
      }

      .user {
        font-style: italic;
      }

      .note-description {
        font-size: 14px;
        font-weight: 200;
        text-align: right;

        .datetime {
          font-weight: 600;
        }
      }
    }

    .notification-actions {
      @extend .col-md-2;
    }
  }

}