<nav class="navbar sticky-top flex-md-nowrap p-0">
    <span class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">&nbsp;</span>
    <form method="get" class="w-100" action="{{ path('notification_search') }}">
        <input name="q" class="form-control form-control-dark w-100" type="text" placeholder="Search notifications" aria-label="Search">
    </form>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-link" href="{{ logout_path() }}">Sign out</a>
            {% else %}
                <a class="nav-link" href="{{ path('login') }}">Sign in</a>
            {% endif %}
        </li>
    </ul>
</nav>