{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row">
    <div class="notices-form-entry">
        {{ form_start(form, { 'attr': {'class': 'notices-edit-form'} }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="notices-form-instruction">
        <div class="instructions">
            <p><strong>Users</strong> have permission to post notifications.
            <p>A <em>uid</em> is a user's BC username, which is used for authentication.</p>
            <p>A user's <em>role</em> determines what actions they can take. A <em>user</em> can post notifications. An <em>admin</em> can access all other features.</p>
        </div>
    </div>
</div>