{% extends 'base.html.twig' %}

{% block title %}
New user
{% endblock %}

{% block icon %}
    <i class="fas fa-users"></i>
{% endblock %}

{% block body %}
    {% form_theme user_form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(user_form) }}
    {{ form_widget(user_form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(user_form) }}
{% endblock %}


