{% extends 'base.html.twig' %}

{% block title %}
New user
{% endblock %}

{% block icon %}
    <i class="fas fa-users"></i>
{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('template_index') }}" class="back-to-list">back to list</a>
{% endblock %}


